<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title><%= yield :title %></title>
        <%= stylesheet_link_tag 'base' %>
        <%= csrf_meta_tags %>
        <%= yield :head %>
    </head>
    <body>
        <%= yield :body %>
    </body>
</html>
