<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title><%= yield :title %></title>
        <%= stylesheet_link_tag 'base' %>
        <%= csrf_meta_tags %>
        <%= yield :head %>
    </head>
    <body>
        <div class="navbar">
            <h1>Site Nav</h1>
            <ul>
                <li><%=
                    link_to(
                        'Home',
                        :controller => 'main',
                        :action => 'read'
                    )
                %></li>
            </ul>
        </div>
        <%= yield :body %>
    </body>
</html>
